 
        <!DOCTYPE HTML>
        <h6>Architecture</h6>
        <div>
          The underlying approach taken to CIDA architecture follows a standard landing-staging-product paradigm. During the first phase of the project,DPLR has been used heavily for data transfromation tasks, but this may change as the project explores different data pipeline possibilities (such as utilising Apache Kafka). The choice of Kafka also provides a high level of flexibiliy to respond to different incomeing data formats, and expands possiblities for downstream analytics sets. In particular, some graph databases such as Elasticsearch and Neo4J are optimal for some of analytics tasks, such as pathway analysis. The archictecture has also been designed with streaming and big data as, cases provide realtime treatment feedback services, and genomic data. </div>
          <br/>
          <div>During the evaluation period of of this project (from August through to December 2018) this achitecture is subject to change. The intent of this project is to allow architecture can be rapidly deployed, and adaptible to changing needs of a dynamic data environment
          <br/>
          <br/>
        </div>
        <div>
          <img src="img/arch.png" width="1300" />
          
        </div>