<!DOCTYPE HTML>
<div class="row"><br/>
  <div class="col m3 s3 l3">
    <div class="collection">
       <a href="#!" class="collection-item">Getting started</a>
       <a href="#!" class="collection-item">Coding conventions</a>
       <a href="#!" class="collection-item">Using R for the data pipeline</a>
       <a href="#!" class="collection-item">Building and deploying Shiny Apps</a>
       <a href="#!" class="collection-item">Building and deploying Notebooks</a>
       <a href="#!" class="collection-item">Templates</a>
      <a href="#!" class="collection-item">R Coders meetup group</a>
       
       
       
     </div>
  </div>
    <div class="col m9 s9 l9">
      
        <h6>Getting started</h6>
       <div>
          Manyasdfas specificationsasdfasdf   asdfasd also link to an external data API for that data (note that you must be listed as a user for the asset in order access this, and you can
          seek access by contacting the <a href="">Data Governance team</a> in the Institute. Note that in some cases, you may need to attend training to work with some of the data assets.
        <br/>
        </div>
        
        <h6>Coding conventions</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
        <h6>Using Tidyverse and DPLYR</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
        <h6>Building and deploying Shiny Apps</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
        
        <h6>Building and deploying Notebooks</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
        
        <h6>Templates</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
        
        <h6>R Coders meetup group</h6>
        <div>
          orem ipsum dolor amet bespoke fixie etsy 3 wolf moon hella. Gluten-free cornhole green juice, craft beer keytar flexitarian actually lyft paleo shaman mumblecore seitan offal. Typewriter normcore +1, chicharrones synth gastropub tumblr microdosing af cold-pressed distillery messenger bag. Schlitz literally sriracha mumblecore. Synth brunch stumptown offal kale chips YOLO mumblecore lomo deep v fashion axe.
          <br/>
        </div>
        
        
    
      
  </div>
</div>
