{% extends "main/base.html" %}
{% load static %}

{% block about_page %}
  <div class="container">
    <div class="row">
      <div class="col m12 s12">
      <h5>Applebee - An opinionated data stack for the discerning data scientist</h5>
      </div>
    </div>
    <div class = "row">
      <div class = "col m8 s8">
        <p>
          The idea of Applebee came from the desire for a better, <i>simpler</i>, analytics tech stack.<br/><br/>
          Doing data science lands you in all kinds of messy tech situations. You will start out with something an innocent is a piece of analysis. But soon that analysis needs to become some kind of dowloadable report scheduled report. Or a needs to be put into a camera ready journal paper, or become building a highly interactive web application, or building some kind of machine learning product. Sometimes you are managing lots of different data assets, and need keep track of all the metadata and governance. Pretty soon you have find yourself having to work with javascript to build or complicated CSS. find yourself working with javascript and CSS, or spinning up a .Net application. Its all a bit much. <br/><br/>

          There's also never been a messier time to be doing data science. So many of the companies I have also been working  in companies who want to becoming data companies. They are stuggling,  or are strugggling I needed portable tooling that kept me in the realm of data science toolset that is easy to take with me and get results from quickly. In aI also find that I needed something easy to hit the ground running <br/><br/>
          I have worked in a
          work. We are still in very much in the Wild West of the Data Science and sometimes you find you are in
          preparing data, building visualisations, managing dbs.<br/><br/>
        </p>

        <h5>R, Python and Docker.</h5>
        <p>
          So Maple is really an opinionated tech stack for the discerning data scientist. It takes some great parts of R and Python, and wraps things up safely in Docker.
          I am long time user of Python (for everything  web development. I am far newer to R and but have fallen in love with its such a pragmatic approach. You can build notebooks, applications using the Shiny library, libraries like Dplyr, Sparklyr is phenomenal. But R is really for web post apps, Python struggles for front end interactivity.  have alot more years with Python, tool for every job, but even here there is so much that R can actually do.
          <br/><br/>
          A while back Django - React setup, which was a hassle, and impossible remember, managin complex config, and node modules and. The main part of Maple is to shift

            embed R. Instead of  It turns out that this is dead simple. Where Django would hand over to React and all that comes with that,
      I wanted to stop changing languages, taking my code, building out Angular, or React applications, move away from retrofitting my code.
        </p>
        <h5>A Microservices Approach.</h5>
        <p>
            THe django application is here just a shell, but manages the orem ipsum dolor amet ugh food truck biodiesel venmo selfies cronut. Stumptown truffaut glossier, celiac flexitarian put a bird on it chartreuse thundercats post-ironic lyft gentrify schlitz. Tote bag keytar fashion axe affogato, swag sriracha pinterest. Banjo neutra thundercats raw denim. Kinfolk literally cloud bread hammock. Direct trade pour-over intelligentsia chartreuse, single-origin coffee bushwick enamel pin master cleanse
        </p>
        <h5>Scalability. For teams and Tech.</h5>
        <p>
            THe django application is here just a shell, but manages the orem ipsum dolor amet ugh food truck biodiesel venmo selfies cronut. Stumptown truffaut glossier, celiac flexitarian put a bird on it chartreuse thundercats post-ironic lyft gentrify schlitz. Tote bag keytar fashion axe affogato, swag sriracha pinterest. Banjo neutra thundercats raw denim. Kinfolk literally cloud bread hammock. Direct trade pour-over intelligentsia chartreuse, single-origin coffee bushwick enamel pin master cleanse
        </p>

        <h5>More than just a data science setup.</h5>
        <p>
            THe django application is here just a shell, but manages the orem ipsum dolor amet ugh food truck biodiesel venmo selfies cronut. Stumptown truffaut glossier, celiac flexitarian put a bird on it chartreuse thundercats post-ironic lyft gentrify schlitz. Tote bag keytar fashion axe affogato, swag sriracha pinterest. Banjo neutra thundercats raw denim. Kinfolk literally cloud bread hammock. Direct trade pour-over intelligentsia chartreuse, single-origin coffee bushwick enamel pin master cleanse
        </p>
        <h5>Some Foundation modules to provide the basics.</h5>
        <p>
            I have built four foundational modules that draw directly off the database which you can interact with in admin foundation
        </p>




      </div>
      <div class = "col m4 s4">

        <ul class="collection with-header">
                <li class="collection-header"><h4>News</h4></li>
                {% for item in news_items %}

                  <li class="collection-item"><a href="#">{{item.date_added}}<br/>{{ item.news_text | truncatewords:"100" }}
                    </a>
                  </li>

                {% endfor %}
              </ul>

      </div>

    </div>




{% endblock %}
